{% extends "base.html" %}
{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock title %}

{% block twitter_card %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@jp_small_gang">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
<meta name="twitter:image:src" content="{{ SITEURL }}/images/logo.jpg">
<meta name="twitter:description" content="{{ article.summary|striptags|truncate(140) }}">
{% endblock twitter_card %}
{% block opengraph %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
<meta property="og:image" content="{{ SITEURL }}/images/logo.jpg">
<meta property="og:description" content="{{ article.summary|striptags|truncate(140) }}">
{% endblock opengraph %}

{% block og_title %}{{ article.title }}{% endblock og_title %}
{% block twitter_title %}{{ article.title }}{% endblock twitter_title %}
{% block content %}

{% include 'metabox.html' %}

<div class="arcticlecontentbox">
	<div class="articlecontent">
		<a class="articletitle" href="{{ SITEURL }}/{{ article.url }} " >{{ article.title }}</a>
		{{ article.content }}
	</div>
	
	{% if DISQUS_SITENAME %}
	<div class="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	   var disqus_identifier = "{{ article.url }}";
	   (function() {
			var dsq = document.createElement('script');
			dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] ||
			 document.getElementsByTagName('body')[0]).appendChild(dsq);
	  })();
	</script>
	</div>
	{% endif %}
	       
</div>

{% endblock content %}
