.articlecontent .right,
.articlecontent .left {
    font-weight: bolder;
    background-color: white;
    border: 2px solid #555;
    border-radius: 10px;
    width: calc(100% - 120px);
    padding: 12px 10px;
    margin-top: 55px;
    margin-bottom: 55px;
    position: relative;
}

.articlecontent .left {
  margin-left: auto;
}

.articlecontent .right:before,
.articlecontent .left:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0) 50%, white 0);
}

.articlecontent .right:before {
  right: -9px;
  transform: rotate(-45deg) skew(15deg, 15deg);
}

.articlecontent .left:before {
  left: -9px;
  transform: rotate(135deg) skew(15deg, 15deg);
}

.articlecontent .right:after,
.articlecontent .left:after {
  content: '';
  position: absolute;
  top: -16px;
  width: 75px;
  height: 75px;
  border: 2px solid #222;
  border-radius: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.articlecontent .right:after {
  right: -100px;
}

.articlecontent .left:after {
  left: -100px;
}

.articlecontent .Takuya-Gogiko:after {
    background-image: url("https://jp-solo-smallgang-pvp.github.io/blog/images/characters/Takuya-Gogiko_75.jpg");
}

.articlecontent .Kentlarquis:after {
    background-image: url("https://jp-solo-smallgang-pvp.github.io/blog/images/characters/Kentlarquis_75.jpg");
}

.articlecontent .bouninng:after {
    background-image: url("https://jp-solo-smallgang-pvp.github.io/blog/images/characters/bouninng_75.jpg");
}

.articlecontent .Night-Cap:after {
  background-image: url("https://jp-solo-smallgang-pvp.github.io/blog/images/characters/Night-Cap_75.jpg");
}

.articlecontent .shu-oisibb:after {
  background-image: url("https://jp-solo-smallgang-pvp.github.io/blog/images/characters/shu-oisibb_75.jpg");
}
